@{ 
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="="row">
    <br />
    <br />
    <div class="alert alert-success">
        <h2>Your payment of <strong>$5.00</strong> has been successfully completed</h2>
        <p>Thank you for your purchase</p>

    </div>

</div>
