@model VehicleAppMVC.Models.StripeSettings

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@*CG added for Stripe*@

@using (Html.BeginForm("Charge", "Home", FormMethod.Post))      //CG: Includes the details of the HomeController we want it to pass to.
{
    @Html.AntiForgeryToken()        //Prevents cross site forgery attacks

@*<form action="/your-server-side-code" method="POST">*@
    <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="@Model.StripePublishableKey" @*"pk_test_D3LtH2Aj6Gh6rLOQa3hOY7YW"*@
            data-amount="500"
            data-name="My Vehicle Web"
            data-description="Payment"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true"
            data-currency="eur">
    </script>
    <script>
        $('.stripe-button-el').click(); @*Auto clicks the Pay button*@
        $('.stripe-button-el').hide();  @*Hides the Pay button,*@
    </script>
    @*</form>*@
}

    @{
        ViewBag.Title = "Home Page";
    }

    

